<div>
    {% for group in groups %}
        <div>
            {% if request.user == group.moderator %}
                <a href="{% url 'update-group' group.id %}">Edit</a>
                <a href="{% url 'delete-group' group.id %}">Delete</a>
            {% endif %}
            
            <a href="{% url 'profile' group.moderator.id %}">@{{group.moderator.username}}</a>
            <h5>{{ group.id }} -- <a href="{% url 'group' group.id %}">{{ group.name }}</a></h5>
            <small>{{ group.subject }}</small>
        </div>
    {% endfor %}
</div>