{% extends 'main.html' %}

{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Subjects Start -->
      {% include 'base/subjects.html' %}
      <!-- Subjects End -->

      <!-- Group List Start -->
      <div class="groupList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{% static 'images/user.png' %}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{ user.username }}</h3>
            <p>@{{ user.username }}</p>
            
            {% if request.user == user %}
              <a href="{% url 'update-profile' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo tenetur
              facilis sunt nemo debitis quisquam hic atque aut? Ducimus alias placeat optio
              accusamus repudiandae quis ab ex exercitationem rem?
            </p>
          </div>
        </div>

        <div class="groupList__header">
          <div>
            <h2>Team Discusss Hosted by dennis_ivy</a>
            </h2>
          </div>
        </div>
        
        {% include 'base/feed.html' %}
      </div>
      <!-- Group List End -->

      <!-- Activities Start -->
      {% include 'base/activity.html' %}
      <!-- Activities End -->
    </div>
  </main>
{% endblock content %}